<template>
    <div class="pagination-row d-flex justify-content-between">
        <div class="text">
            <div class="" v-if="display_description && from">Showing {{ from }} - {{ to }} from {{ total }} entries</div>
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" @click.prevent="goToPage(current_page - 1)" v-if="current_page != 1">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" v-for="page in _.range(min_page,max_page)" v-bind:class="{'active': current_page == page}">
                    <a class="page-link" @click.prevent="goToPage(page)" >{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" @click.prevent="goToPage(current_page + 1)" v-if="current_page != last_page && last_page != 0">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        props: [
            'total',
            'per_page',
            'current_page',
            'last_page',
            'next_page_url',
            'prev_page_url',
            'from',
            'to',
            'display_description',
            'change_page_callback'
        ],
        data: function() {
            return {
                page_number:0,
            }
        },
        methods: {
            goToPage(pageNumber){
                this.change_page_callback(pageNumber)
            }
        },
        computed: {
            _() {
                return _;
            },
            min_page(){
                let min_page = this.current_page - 2;

                if (min_page <= 2) {
                    return 1;
                } else if (min_page + 5 >= this.last_page ) {
                    return this.last_page - 4
                } else {
                    return this.current_page - 2;
                }
            },
            max_page(){
                let max_page = this.min_page + 5;

                if(max_page > this.last_page) {
                    return  this.last_page + 1
                } else {
                    return max_page
                }
            },
        }

    }
</script>
