<template>
    <div class="row">
        <loading :active.sync="is_loading"
                 :can-cancel="false"
                 :is-full-page="true"></loading>

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <b>Create New Movie</b>
                </div>
                <div class="card-body">
                    <div role="alert" class="alert alert-danger fade show alert-important" v-show="error_message">
                        <button type="button" class="close">
                            <span aria-hidden="true" @click="error_message = ''">×</span>
                        </button>
                        <div v-if="typeof error_message === 'string'">{{ error_message }}</div>
                        <div v-for="(error, index) in error_message" v-else>
                            {{ error }}
                        </div>
                    </div>

                    <form enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name<span class="ml-1" style="color: red">*</span></label>
                            <input type="text" class="form-control" v-validate="'required'" v-model="new_movie.name" name="name" id="name">
                            <div class="error">{{ errors.first('name') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="year_of_release">Release Date<span class="ml-1" style="color: red">*</span></label>
                            <datepicker v-model="new_movie.year_of_release" v-validate="'required'" :input-class="'form-control'" :format="customFormatter" :required="true" :minimumView="'year'" :maximumView="'year'"
                                        :initialView="'year'" name="year_of_release"></datepicker>
                        </div>

                        <div class="form-group">
                            <label for="plot">Plot<span class="ml-1" style="color: red">*</span></label>
                            <textarea class="form-control" v-validate="'required'" v-model="new_movie.plot" id="plot" name="plot" rows="5"></textarea>
                            <div class="error">{{ errors.first('plot') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="poster">Poster<span class="ml-1" style="color: red">*</span></label>
                            <input type="file" class="form-control-file" v-validate="'required|image|size:2048'" @change="previewPoster" accept="image/*" name="poster" id="poster" ref="poster" >
                            <div class="poster-preview mt-2" v-if="poster_preview.length > 0">
                                <img style="width: 150px;" class="preview" :src="poster_preview">
                            </div>
                            <div class="error">{{ errors.first('poster') }}</div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="actors">
                                Actors<span class="ml-1" style="color: red">*</span>
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#createActorModal">
                                    Create New Actor
                                </button>
                            </label>
                            <v-select v-validate="'required'" multiple label="name" name="actors" v-model="new_movie.actors" :options="actors" ></v-select>
                            <div class="error">{{ errors.first('actors') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="producer">
                                Producers<span class="ml-1" style="color: red">*</span>
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#createProducerModal">
                                    Create New Producer
                                </button>
                            </label>
                            <v-select v-validate="'required'" label="name" name="producer" v-model="new_movie.producer" :options="producers" ></v-select>
                            <div class="error">{{ errors.first('producer') }}</div>
                        </div>
                        <button type="button" @click="error_message = ''; success_message = ''; validateCreateMovieForm()" class="btn btn-primary">Create</button>
                    </form>

                    <div class="modal" id="createActorModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form data-vv-scope="add-actor-form">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Create New Actor</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div role="alert" class="alert alert-danger fade show alert-important" v-show="error_message_actor">
                                            <button type="button" class="close">
                                                <span aria-hidden="true" @click="error_message_actor = ''">×</span>
                                            </button>
                                            <div v-if="typeof error_message_actor === 'string'">{{ error_message_actor }}</div>
                                            <div v-for="(error, index) in error_message_actor" v-else>
                                                {{ error }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Name<span class="ml-1" style="color: red">*</span></label>
                                            <input type="text" class="form-control" v-validate="'required'" v-model="new_actor.name" name="name">
                                            <div class="error">{{ errors.first('add-actor-form.name') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="sex">Sex</label>
                                            <select class="form-control" v-model="new_actor.sex" v-validate="'required'" name="sex" id="sex">
                                                <option value="male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <div class="error">{{ errors.first('add-actor-form.sex') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="dob">Date Of Birth<span class="ml-1" style="color: red">*</span></label>
                                            <datepicker v-model="new_actor.dob" :format="customFormatter1" :input-class="'form-control'" v-validate="'required'" :required="true"
                                                name="dob"></datepicker>
                                            <div class="error">{{ errors.first('add-actor-form.dob') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bio">Bio<span class="ml-1" style="color: red">*</span></label>
                                            <textarea class="form-control" v-validate="'required'" v-model="new_actor.bio" id="bio" name="bio" rows="5"></textarea>
                                            <div class="error">{{ errors.first('add-actor-form.bio') }}</div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" @click="error_message_actor = ''; success_message_actor = ''; validateCreateActorForm('add-actor-form')" class="btn btn-primary">Create</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="modal" id="createProducerModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form data-vv-scope="add-producer-form">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Create New Producer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div role="alert" class="alert alert-danger fade show alert-important" v-show="error_message_producer">
                                            <button type="button" class="close">
                                                <span aria-hidden="true" @click="error_message_producer = ''">×</span>
                                            </button>
                                            <div v-if="typeof error_message_producer === 'string'">{{ error_message_producer }}</div>
                                            <div v-for="(error, index) in error_message_producer" v-else>
                                                {{ error }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Name<span class="ml-1" style="color: red">*</span></label>
                                            <input type="text" class="form-control" v-validate="'required'" v-model="new_producer.name" name="name">
                                            <div class="error">{{ errors.first('add-producer-form.name') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="sex">Sex</label>
                                            <select class="form-control" v-model="new_producer.sex" v-validate="'required'" name="sex">
                                                <option value="male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <div class="error">{{ errors.first('add-producer-form.sex') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="dob">Date Of Birth<span class="ml-1" style="color: red">*</span></label>
                                            <datepicker v-model="new_producer.dob" :format="customFormatter1" :input-class="'form-control'" v-validate="'required'" :required="true"
                                                        name="dob"></datepicker>
                                            <div class="error">{{ errors.first('add-producer-form.dob') }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bio">Bio<span class="ml-1" style="color: red">*</span></label>
                                            <textarea class="form-control" v-validate="'required'" v-model="new_producer.bio" name="bio" rows="5"></textarea>
                                            <div class="error">{{ errors.first('add-producer-form.bio') }}</div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" @click="error_message_producer = ''; validateCreateProducerForm('add-producer-form')" class="btn btn-primary">Create</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import moment from 'moment'
    import vSelect from "vue-select"
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        props: {
            create_movie_url: {
                type: String,
                required: true
            },
            create_actor_url: {
                type: String,
                required: true
            },
            create_producer_url: {
                type: String,
                required: true
            },
            actors: {
                type: Array,
                required: true
            },
            producers: {
                type: Array,
                required: true
            },
        },
        components: {
            Datepicker, vSelect, Loading
        },
        data: function () {
            return {
                new_movie: {
                    name: '',
                    year_of_release: '',
                    poster: '',
                    actors: [],
                    producer: '',
                },
                new_actor: {
                    name: '',
                    sex: '',
                    dob: '',
                    bio: '',
                },
                new_producer: {
                    name: '',
                    sex: '',
                    dob: '',
                    bio: '',
                },
                poster_preview: '',
                error_message: '',
                success_message: '',
                error_message_actor: '',
                error_message_producer: '',
                is_loading: false,
            }
        },
        methods: {
            validateCreateMovieForm() {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.createNewMovie();
                    }
                });
            },
            validateCreateActorForm(scope) {
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        this.createNewActor();
                    }
                });
            },
            validateCreateProducerForm(scope) {
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        this.createNewProducer();
                    }
                });
            },
            createNewActor() {
                let formData = new FormData();

                this.new_actor.foreach((item, key) => {
                    if (key === 'dob') {
                        item = moment(item).format('YYYY-MM-DD').toString();
                    }

                    formData.append(key, item);
                });

                let requestURI = this.create_actor_url;

                let vm = this;

                axios.post(requestURI, formData)
                    .then(response => {
                        if (response.data.message !== undefined) {
                            this.$swal({
                                text: response.data.message,
                                type: "success",
                            }).then(function() {
                                vm.actors.push({ id: response.data.data.id, name: response.data.data.name });
                                vm.new_movie.actors.push({ id: response.data.data.id, name: response.data.data.name })
                                $('#createActorModal').modal('hide')
                            });
                        }

                        if (response.data.error !== undefined) {
                            vm.error_message_actor = response.data.error;
                        }
                    }).catch(error => {
                        if (error.response === undefined) {
                            return;
                        }

                        if (error.response.status === 422) {
                            let error_message = [];

                            error.response.data.errors.foreach(function (item, key) {
                                error_message.push(item[0]);
                            });

                            vm.error_message_actor = error_message;
                        }else {
                            vm.error_message_actor = error.response.data.error;
                        }
                    })
            },
            createNewProducer() {
                let formData = new FormData();

                this.new_producer.foreach((item, key) => {
                    if (key === 'dob') {
                        item = moment(item).format('YYYY-MM-DD').toString();
                    }

                    formData.append(key, item);
                });

                let requestURI = this.create_producer_url;

                let vm = this;

                axios.post(requestURI, formData)
                    .then(response => {
                        if (response.data.message !== undefined) {
                            this.$swal({
                                text: response.data.message,
                                type: "success",
                            }).then(function() {
                                vm.producers.push({ id: response.data.data.id, name: response.data.data.name });
                                vm.new_movie.producer = { id: response.data.data.id, name: response.data.data.name }
                                $('#createProducerModal').modal('hide')
                            });
                        }

                        if (response.data.error !== undefined) {
                            vm.error_message_producer = response.data.error;
                        }
                    }).catch(error => {
                    if (error.response === undefined) {
                        return;
                    }

                    if (error.response.status === 422) {
                        let error_message = [];

                        error.response.data.errors.foreach(function (item, key) {
                            error_message.push(item[0]);
                        });

                        vm.error_message_producer = error_message;
                    }else {
                        vm.error_message_producer = error.response.data.error;
                    }
                })
            },
            createNewMovie() {
                this.is_loading = true;

                let formData = new FormData();

                this.new_movie.foreach((item, key) => {
                    if (key === 'actors') {
                        item = _.map(item, 'id');
                    }

                    if (key === 'year_of_release') {
                        item = moment(item).format('YYYY').toString();
                    }

                    if (key === 'producer') {
                        item = item.id;
                    }

                    formData.append(key, item);
                });

                let requestURI = this.create_movie_url;

                axios.post(requestURI, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.is_loading = false;

                    if (response.data.message !== undefined) {
                        this.$swal({
                            text: response.data.message,
                            type: "success",
                        }).then(function() {
                            window.location = "/movies";
                        });
                    }

                    if (response.data.error !== undefined) {
                        this.error_message = response.data.error;
                    }
                }).catch(error => {
                    this.is_loading = false;

                    if (error.response === undefined) {
                        return;
                    }

                    if (error.response.status === 422) {
                        let error_message = [];

                        error.response.data.errors.foreach(function (item, key) {
                            error_message.push(item[0]);
                        });

                        this.error_message = error_message;
                    }else {
                        this.error_message = error.response.data.error;
                    }
                })
            },
            customFormatter(date) {
                return moment(date).format('YYYY').toString();
            },
            customFormatter1(date) {
                return moment(date).format('YYYY-MM-DD').toString();
            },
            previewPoster(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = (e) => {
                        this.poster_preview = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                    this.new_movie.poster = input.files[0];
                }
            }
        },
        computed: {
            _: function() {
                return _;
            },
        },
    }
</script>

<style>
    .vdp-datepicker__calendar .cell.selected {
        color: #fff;
        border-color: #4e73df;
        background: #4e73df;
    }
    .vdp-datepicker__calendar .cell.selected:hover {
        background: #4e73df;
        border-color: #4e73df;
        color: #fff;
    }
    .vdp-datepicker__calendar .cell:hover {
        color: #fff;
        background: #4e73df;
        border-color: #4e73df;
    }
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid #4e73df;
    }
</style>
