<template>
    <div class="row">
        <loading :active.sync="is_loading"
                 :can-cancel="false"
                 :is-full-page="true"></loading>

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <b>Create New Movie</b>
                </div>
                <div class="card-body">
                    <div role="alert" class="alert alert-danger fade show alert-important" v-show="error_message">
                        <button type="button" class="close">
                            <span aria-hidden="true" @click="error_message = ''">×</span>
                        </button>
                        <div v-if="error_message.constructor !== Array">{{ error_message }}</div>
                        <div v-for="(error, index) in error_message" v-else>
                            {{ error }}
                        </div>
                    </div>

                    <form enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name<span class="ml-1" style="color: red">*</span></label>
                            <input type="text" class="form-control" v-validate="'required'" v-model="movie.name" name="name" id="name">
                            <div class="error">{{ errors.first('name') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="year_of_release">Release Date<span class="ml-1" style="color: red">*</span></label>
                            <datepicker v-model="movie.year_of_release" :input-class="'form-control'" :format="customFormatter" :required="true" :minimumView="'year'" :maximumView="'year'"
                                        :initialView="'year'" name="year_of_release"></datepicker>
                        </div>

                        <div class="form-group">
                            <label for="plot">Plot<span class="ml-1" style="color: red">*</span></label>
                            <textarea class="form-control" v-validate="'required'" v-model="movie.plot" id="plot" name="plot" rows="5"></textarea>
                            <div class="error">{{ errors.first('plot') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="poster">Poster<span class="ml-1" style="color: red">*</span></label>
                            <input type="file" class="form-control-file" v-validate="'image|size:2048'" @change="previewPoster" accept="image/*" name="poster" id="poster" ref="poster" >
                            <div class="poster-preview mt-2" v-if="poster_preview.length <= 0">
                                <img style="width: 150px;" class="preview" :src="movie.poster">
                            </div>
                            <div class="poster-preview mt-2" v-else>
                                <img style="width: 150px;" class="preview" :src="poster_preview">
                            </div>
                            <div class="error">{{ errors.first('poster') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="actors">Actors<span class="ml-1" style="color: red">*</span></label>
                            <v-select v-validate="'required'" multiple label="name" name="actors" v-model="movie.actors" :options="actors" ></v-select>
                            <div class="error">{{ errors.first('actors') }}</div>
                        </div>

                        <div class="form-group">
                            <label for="producer">Producers<span class="ml-1" style="color: red">*</span></label>
                            <v-select v-validate="'required'" label="name" name="producer" v-model="movie.producer" :options="producers" ></v-select>
                            <div class="error">{{ errors.first('producer') }}</div>
                        </div>
                        <button type="button" @click="error_message = ''; success_message = ''; validateCreateMovieForm()" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import moment from 'moment'
    import vSelect from "vue-select"
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        props: {
            update_movie_url: {
                type: String,
                required: true
            },
            movie: {
                type: Object,
                required: true
            },
            actors: {
                type: Array,
                required: true
            },
            producers: {
                type: Array,
                required: true
            },
        },
        components: {
            Datepicker, vSelect, Loading
        },
        data: function () {
            return {
                poster_preview: '',
                success_message: '',
                error_message: '',
                is_loading: false,
            }
        },
        methods: {
            validateCreateMovieForm() {
                this.$validator.validate().then((result) => {
                    if (result) {
                        this.updateMovie();
                    }
                });
            },
           updateMovie() {
                this.is_loading = true;

                let formData = new FormData();
                formData.append('_method', 'PUT');

                this.movie.foreach((item, key) => {
                    if (key === 'actors') {
                        item = _.map(item, 'id');
                    }

                    if (key === 'year_of_release') {
                        item = moment(item).format('YYYY').toString();
                    }

                    if (key === 'producer') {
                        item = item.id;
                    }

                    if (key === 'poster' && typeof item === 'string') {
                        item = '';
                    }

                    formData.append(key, item);
                });

                let requestURI = this.update_movie_url;

                axios.post(requestURI, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.is_loading = false;

                    if (response.data.message !== undefined) {
                        this.$swal({
                            text: response.data.message,
                            type: "success",
                        })
                    }

                    if (response.data.error !== undefined) {
                        this.error_message = response.data.error;
                    }
                }).catch(error => {
                    this.is_loading = false;

                    if (error.response === undefined) {
                        return;
                    }

                    if (error.response.status === 422) {
                        let error_message = [];

                        error.response.data.errors.foreach(function (item, key) {
                            error_message.push(item[0]);
                        });

                        this.error_message = error_message;
                    }else {
                        this.error_message = 'Internal Server Error';
                    }
                })
            },
            customFormatter(date) {
                return moment(date).format('YYYY').toString();
            },
            previewPoster(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = (e) => {
                        this.poster_preview = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                    this.movie.poster = input.files[0];
                }
            }
        },
        computed: {
            _: function() {
                return _;
            },
        },
    }
</script>

<style>
    .vdp-datepicker__calendar .cell.selected {
        color: #fff;
        border-color: #4e73df;
        background: #4e73df;
    }
    .vdp-datepicker__calendar .cell.selected:hover {
        background: #4e73df;
        border-color: #4e73df;
        color: #fff;
    }
    .vdp-datepicker__calendar .cell:hover {
        color: #fff;
        background: #4e73df;
        border-color: #4e73df;
    }
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid #4e73df;
    }
</style>
