<template>
    <div class="row">
        <loading :active.sync="is_loading"
                 :can-cancel="false"
                 :is-full-page="true"></loading>

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <b>List Of Movie</b>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <a href="/movies/create"><button class="btn btn-primary">Create New Movie</button></a>
                        <input type="text" style="width: 250px;" class="form-control" placeholder="Search"
                               v-model="search_movie_keyword"/>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Year Of Release</th>
                                    <th scope="col">Producer</th>
                                    <th scope="col">Actors</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="movie in movies">
                                    <td>{{ movie.name }}</td>
                                    <td>{{ movie.year_of_release }}</td>
                                    <td>{{ movie.producer.name }}</td>
                                    <td v-html="formatActors(movie.actors)"></td>
                                    <td>
                                        <div class="d-flex">
                                            <a target="_blank" :href="'/movies/' + movie.id">
                                                <button type="button" class="btn btn-primary mb-3 mr-2">View</button>
                                            </a>
                                            <a target="_blank" :href="'/movies/' + movie.id + '/edit'">
                                                <button type="button" class="btn btn-info mb-3 mr-2">Update</button>
                                            </a>
                                            <div>
                                                <button @click="deleteMovie(movie.id)"type="button" class="btn btn-danger mb-3">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <pagination-component
                :total="pagination.total"
                :per_page="pagination.per_page"
                :current_page="pagination.current_page"
                :last_page="pagination.last_page"
                :next_page_url="pagination.next"
                :prev_page_url="pagination.prev"
                :from="pagination.from"
                :to="pagination.to"
                :display_description="true"
                :change_page_callback="getMovies"
            ></pagination-component>
        </div>
    </div>
</template>

<script>
    import PaginationComponent from '../Pagination';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        props: {
            get_movie_url: {
                type: String,
                required: true
            },
        },
        components: {
            PaginationComponent, Loading
        },
        data: function () {
            return {
                is_loading: false,
                search_movie_keyword: '',
                movies: null,
                pagination: {
                    total: 0,
                    per_page: 1,
                    current_page: 1,
                    last_page: 0,
                    next_page_url: "",
                    prev_page_url: "",
                    from: 0,
                    to: 0,
                },
            }
        },
        methods: {
            getMovies: function (pageNumber) {
                this.is_loading = true;

                if (typeof pageNumber === 'undefined') {
                    pageNumber = this.pagination.current_page;
                }

                let requestURI = this.get_movie_url + "?page_number=" + pageNumber + "&page_limit=" + this.pagination.per_page
                    + '&search=' + this.search_movie_keyword;

                axios.get(requestURI)
                    .then(response => {
                        this.movies = response.data.data;
                        this.pagination = _.omit(response.data, ['data']);
                        this.is_loading = false;
                    }).catch(error => {
                        this.$swal({
                            text: error.response.data.error,
                            type: 'error'
                        });

                    })
            },
            formatActors: function (actors) {
                actors = _.map(actors, 'name')

                let formattedActors = '<ul>';

                actors.foreach(function(actor, index) {
                    formattedActors += '<li>' + actor + '</li>'
                });

                formattedActors += '<ul>';

                return formattedActors;
            },
            deleteMovie: function (id) {
                let requestURI = '/movies/' + id;
                let vm = this;

                this.$swal({
                    title: 'Are you sure want to delete this movie?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger m-l-10',
                    confirmButtonText: 'Yes, delete it!',
                }).then(function (result) {

                    if (!result.value) {
                        return false;
                    }

                    axios.delete(requestURI)
                        .then(response => {
                            if (response.data.message !== undefined) {
                                vm.$swal({
                                    text: response.data.message,
                                    type: "success",
                                })
                                window.location.reload();
                            }

                            if (response.data.error !== undefined) {
                                vm.error_message = response.data.error;
                            }
                        }).catch(error => {
                            if (error.response !== undefined) {

                                vm.$swal({
                                    text: error.response.data.error,
                                    type: 'error'
                                });
                            }
                        })
                })


            },
        },
        watch: {
            search_movie_keyword(after, before) {
                this.getMovies(1);
            },
        },
        mounted: function () {
            this.getMovies();
        },
        computed: {
            _: function() {
                return _;
            },
        },
    }
</script>

<style scoped>

</style>
